<!DOCTYPE HTML>
<html>
    <head>
        <title>ScoreDEI </title>
        <meta charset="utf8" />
    </head>
    <body>

        <h1>Championship Tables</h1>

        <label>Select the filter: </label>
        <br>
        <div="form-row">
            <td><a th:href="@{table_matches}">Matches played<br></a></td>
            <td><a th:href="@{table_wins}">More Wins<br></a></td>
            <td><a th:href="@{table_draws}">More Draws<br></a></td>
            <td><a th:href="@{table_defeats}">More Defeats<br></a></td>
        </div>
        <br>
    </body>
</html>