<!DOCTYPE HTML>
<html>
<head>
    <title>Match Events </title>
    <meta charset="utf8" />
</head>
    <body>

        <h1>Match Events</h1>
        <div="form-row">
            <td><a th:href="@{team}">Create Team<br></a></td>
            <td><a th:href="@{player}">Create Player<br></a></td>
            <td><a th:href="@{match}">Create Match<br></a></td>
            <td><a th:href="@{register}">Regist User<br></a></td>
            <td><a th:href="@{events}">Regist a match event<br></a></td>
            <td><a th:href="@{follow_match}">Follow a match<br></a></td>
        </div>

    </body>
</html>