<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YELLOW CARD</title>
</head>
<body>
    <h1>Yellow Card</h1>
    <form action="#" th:action="@{yellow_match(id=${match.id})}" th:object="${yellow}" method="post">
        <p>
            <label>Player</label>
            <select class="form-control" th:field="*{player}">
                <option th:each="p : ${players}"
                        th:value="${p.id}"
                        th:text="${p.name} + ' - '+ ${p.t.name}">
                </option>
            </select>

            <p>Minute of the match:
                <input type="datetime-local" th:field="*{time}" />
            </p>
            <br>
            <input type="submit" value="Submit" />
        </p>
    </form>
</body>
</html>